# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store

# Large artifacts / datasets / runs
data/
raw_data/
frames/
videos/
runs/
outputs/
datasets/
kaggle/

# Model weights
models/*.pt
models/*.pth
models/*.onnx

# Archives
*.zip
*.tar
*.gz
